body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  padding: 1rem;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.name {
  font-weight: bold;
  text-transform: capitalize;
}

.flex {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time {
  align-self: center;
  margin-top: 1rem;
}

.container {
  border: 1px solid;
  border-radius: 10px;
  padding: .5rem;
}